<div class="user-details">
  
  <h1>Oscars Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>The</h2>
    
    <p></p>
    <!-- Video 1 -->
    <video width="320" height="240" controls>
      <source src="/assets/videos/coffindance.mp4" type="video/mp4">
    </video> 
    <video width="320" height="240" controls>
      <source src="/assets/videos/icecream.mp4" type="video/mp4">
    </video>    

  </div>
  <div class="tech">
    <h2>Bing</h2>
       
    <p></p>
    <!-- Video 2 -->
    <video width="320" height="240" controls>
      <source src="/assets/videos/burgerking.mp4" type="video/mp4">
    </video> 
    <video width="320" height="240" controls>
      <source src="/assets/videos/love.mp4" type="video/mp4">

  </div>
  <div class="tech">
    <h2>Boys</h2>
    
    <p></p>
    <!-- Video 3 -->
    <video width="320" height="240" controls>
      <source src="/assets/videos/mrpuffer.mp4" type="video/mp4">
    </video> 
    <video width="320" height="240" controls>
      <source src="/assets/videos/drunkensailer.mp4" type="video/mp4">

    <div>
     
    </div>
    
  
  </div>

  <div>
 
</div>