#image1 {
    height: 1080px;
    width: 1920px;
    background: url("/assets/images/stance.jpeg");
    background-size: 1920px 1080px;
  }
  #image2 {
    height: 1080px;
    width: 1920px;
    background: url("/assets/images/thirst.jpg");
    background-size: 1920px 1080px;
  }
  #image3 {
    height: 1080px;
    width: 1920px;
    background: url("/assets/images/yearbook.jpeg");
    background-size: 1920px 1080px;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }