<!DOCTYPE html>
<link rel="stylesheet" href="../assets/css/devicon.min.css">
<link rel="stylesheet" href="/assets/css/background.css">
<html lang="en">
  {% include head.html %}
  <body>


      {% include header.html %}
      <div id="image1" class ="center"></div>
      <div id="image2"></div>
      <div id="image3"></div>
      <section id="about">
        {% include about.html %}
      </section>
        {{ content }}
        <div>
          <center> Who has money for icecream?</center>
        </div>
      {% include footer.html %}
     
  </body>
</html>
